body {
  font-family: 'Orbitron', sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.calculator-container {
  width: 45%;
  float: left;
  padding: 10px;
}

.history-container {
  text-align: right;
}

.history-container ul {
  list-style-type: none;
}

.display-container {
  border: solid 1px black;
  margin-left: 2%;
  margin-right: 5%;
  text-align: right;
  margin-bottom: 5px;
}

.previous-operation {
  padding-right: 5px;
  padding-left: 5px;
}

.display {
  padding-right: 5px;
  padding-left: 5px;
  margin: 5px 0px;
}

.button {
  float: left;
  width: 30%;
  height: 40px;
  margin: 1%;
  border-radius: 15px;
  border-radius: 15px;
  background-color: lightgray;
  border: 0.5px solid black;
}

.number-button {
  font-size: larger;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}

.number-button:last-child {
  margin-left: 33%;
  margin-right: 33%;
}

.button.operation {
  font-size: larger;
  background-color: lightcyan;
  font-family: 'Orbitron', sans-serif;
}

.button.perform {
  width: 94%;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Orbitron', sans-serif;
  background-color: lightgreen;
}
